<body>
    <nav class="menu">
        <ul class="menu-bar">
            <li class="menu-item">
                <a href="/">HOME</a> 
            </li>
            <li class="menu-item">
                    <a href="/peliculas">LISTADO DE PELICULAS</a> 
            </li>
            <li class="menu-item">
                <a href="/peliculas/crear">CREA TU PELI</a>    
            </li>
            <!--<li class="menu-item">DELETE PELI</li>
            <li class="menu-item">MODIFICA PELI</li> -->          
        </ul>
    </nav>
    